<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/zachsoft/Ionic-Material/master/dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="https://cdn.rawgit.com/zachsoft/Ionic-Material/master/dist/ionic.material.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
  </head>
  <body ng-controller="PrincipalController">
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title title-center">Random Team</h1>
        <button class="button button-clear icon ion-help-circled" style="vertical-align: 0;" ng-click="mostrarAyuda()"></button>
      </ion-header-bar>

      <ion-content style="background-color: skyblue;">
        <!-- Formulario nuevo jugador -->
        <div class="list card">
          <div class="item-divider">
            <h4 style="padding-left: 10px; color: #116262">
              <i class="icon ion-edit"></i> Añadir jugador
              <button class="button button-balanced button-fab" style="float: right;" ng-click="nuevoJugador()">
                <i class="icon ion-plus-round"></i>
              </button>
            </h4>
          </div>
          <div class="list">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Nombre" ng-model="data.nombre">
              </label>
              <label class="item">
                <select style="border: hidden;" ng-model="data.nivel">
                  <option selected>Nivel 1</option>
                  <option>Nivel 2</option>
                  <option>Nivel 3</option>
                </select>
              </label>
            </div>
            <div class="item item-checkbox">
              <label class="checkbox">
                <input type="checkbox" ng-model="data.esPortero">
              </label> Portero
            </div>
          </div>
        </div>

        <!-- Listado de jugadores -->
        <div class="list card">
          <div class="item-divider">
            <h4 style="padding-left: 10px; color: #116262">
              <i class="icon ion-android-list"></i> Lista de jugadores
              <span style="float: right; padding-right: 10px;">{{jugadores.length}}</span>
            </h4>
          </div>
          <ion-list show-delete="true">
            <ion-item ng-repeat="jugador in jugadores">
              <p>
                <strong>{{jugador.nombre}}</strong> --> {{jugador.nivel}}
                <i class="icon ion-android-hand" style="float: right; padding-right: 15px;" ng-show="jugador.esPortero"></i>
              </p>
              <ion-delete-button class="button-clear icon ion-android-cancel"
                                 ng-click="jugadores.splice($index, 1)" style="padding: 0px;">
              </ion-delete-button>
            </ion-item>
          </ion-list>
          <div style="text-align: center;" ng-show="jugadores.length > 0">
            <button class="button button-balanced button-small" style="margin-bottom: 15px;" ng-click="hacerEquipos()">Hacer equipos</button>
          </div>
        </div>

        <!-- Equipos -->
        <div class="list card">
          <div class="item-divider">
            <h4 style="padding-left: 10px; color: #116262">
              <i class="icon ion-ios-football"></i> Equipos
            </h4>
          </div>
          <div class="list" style="float: left; width: 50%; border-right: solid 2px black;" ng-show="equipoA.length > 0">
            <div class="item item-divider" style="border-bottom: solid 1px black;">Equipo A</div>
            <a class="item" ng-repeat="jug in equipoA"> {{jug.nombre}} </a>
          </div>
          <div class="list" style="float: left; width: 50%;" ng-show="equipoB.length > 0">
            <div class="item item-divider" style="border-bottom: solid 1px black;">Equipo B</div>
            <a class="item" ng-repeat="juga in equipoB"> {{juga.nombre}} </a>
        </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
